[Unit]
Description=OHLCV Market Data Collector
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/MSTE_Testing_2026/News_Sentiment_Model_Step1/correct_ohlcv_tick_data
ExecStart=/usr/bin/python3 "/home/ubuntu/MSTE_Testing_2026/News_Sentiment_Model_Step1/correct_ohlcv_tick_data/new_ohlcv.py"
Restart=always
RestartSec=10
StandardOutput=append:/home/ubuntu/MSTE_Testing_2026/News_Sentiment_Model_Step1/logs/ohlcv_collector.log
StandardError=append:/home/ubuntu/MSTE_Testing_2026/News_Sentiment_Model_Step1/logs/ohlcv_collector_error.log

[Install]
WantedBy=multi-user.target
