requests==2.31.0
beautifulsoup4==4.12.2
selenium==4.15.2
webdriver-manager==4.0.1
python-dateutil==2.8.2
torch
transformers
nltk==3.8.1
pandas>=2.2.0
websocket-client==1.6.4
numpy
scikit-learn>=1.5.0
xgboost
joblib
streamlit==1.28.2
lxml==4.9.3
pillow>=10.1.0
